* {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 7rem;
  background-color: #171313;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navHeader {
  width: 60%;
  display: flex;
  justify-content: end;
  align-items: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 20px;
  color: #ccc;
}

nav li a {
  text-decoration: none;
  color: #ccc;
}

.fondo {
  width: 100%;
  height: 36rem;
  background-image: url(images/fondo.jpg);
  background-size: cover;
  background-position: 0 -20rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fondo > p {
  font-size: 20px;
  color: white;
  background-color: #171313;
  padding: 1rem;
  opacity: 0.8;
}

.seccion2 {
  width: 100%;
  height: 35rem;
  background-color: #171313;
  display: flex;
}

.seccion2-1 {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seccion21 {
  width: 30rem;
  padding-left: 3rem;
}

.seccion21 > p {
  font-size: 20px;
  color: white;
}

.seccion2-2 {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seccion2-2 > img {
  width: 25rem;
  border-radius: 0.5rem;
  border: 2px solid white;
  filter: grayscale(80%);
}

.seccion2-2 > img:hover {
  transform: scale(1.06);
  transition: transform 0.3s ease; 
}

.seccion3 {
  width: 100%;
  height: 35rem;
  background-color: #171313;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.seccion3-1 {
  width: 14rem;
  height: 16rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: rgb(44, 43, 43);
  gap: 0.5rem;
  border: 2px solid rgb(255, 255, 255);
}

.seccion3-1 > h3 {
  color: rgb(78, 110, 240);
  margin-bottom: 0.5rem;
}

.seccion3-1 > p {
  color: white;
}

.seccion4 {
  width: 100%;
  height: 60rem;
  background-color: #333;
}

.seccion4 > h2 {
  display: flex;
  justify-content: center;
  padding-top: 4rem;
  font-size: 45px;
  color: rgb(78, 110, 240);
  padding-bottom: 4rem;
}

.containerBoxes {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20rem;
  gap: 1.5rem;
}

.boxesProject {

  width: 100%;
  height: 40rem;
}

.boxProject {
  position: relative;
  width: 270px;
  height: 250px;
  overflow: hidden;
  border-radius: 2rem;
  box-shadow: 0px 5px 15px #e6e7eb;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxProject:hover {
  transform: scale(1.1);
  transition: all 500ms ease-out;
}

.boxProject figure {
  display: flex;
  justify-content: center;
}

.boxProject figure img {
  width: 16rem;
  transition: all 500ms ease-out;
}

.boxProject figure .capa {
  position: absolute;
  top: 0;
  height: 100%;
  background: rgba(20, 20, 20, 0.8);
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}

.boxProject figure:hover > .capa {
  opacity: 1;
  visibility: visible;
}

.boxProject figure:hover > .capa h3 {
  margin-top: 40px;
  margin-bottom: 15px;
}

.boxProject figure .capa h3 {
  color: #fff;
  font-weight: 400;
  margin-bottom: 120px;
  transition: all 500ms ease-out;
  font-weight: bold;
}

.boxProject figure .capa p {
  color: #fff;
  font-size: 14px;
  width: 100%;
  margin: auto;
  font-weight: bold;
}

.seccion5 {
  width: 100%;
  height: 35rem;
  background-color: #171313;
  display: flex;
  color: white;
}

.seccion5-1 {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seccion5-1 > div > h2 {
  font-weight: bold;
  font-size: 30px;
}

.seccion5-1 > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.seccion5-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.seccion5-2 > iframe {
  width: 70%;
  border-radius: 0.5rem;
  border: 2px solid black;
}

.registro {
  width: 100%;
  height: 45rem;
  background-color: #333;
  background-image: url(images/otrofondo.jpg);
  background-size: cover;
  background-repeat: no-repeat;

}

.registro h2 {
  color: rgb(255, 255, 255);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
  font-size: 50px;

}

form {
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin: 10px 0;
  font-weight: bold;
  color: white;
}

input {
  padding: 8px;
  margin: 5px 0 15px;
  width: 30%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: whitesmoke;
  color: black;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 2px solid black;
}

button:hover {
  background-color: #303235;
  color: white;
  border: 2px solid white;
}

textarea {
  padding: 10px;
  margin: 5px 0 15px;
  width: 30%;
  height: 10rem;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical; 
  transition: border-color 0.3s ease;
}

textarea:focus {
  border-color: #000000;
}

.about {
  width: 100%;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.about > p {
  color: white;
}


.abrir-menu,.cerrar-menu{
  display: none;
}



@media (max-width: 480px) {


  .titleHeader > h1 {
    font-size: 20px;
  }

  .fondo {
    height: 20rem;
  }

  .fondo > p {
    font-size: 15px;
    text-align: center;
  }

  .seccion2 {
    height: 35rem;
    flex-direction: column;
  }

  .seccion2-1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .seccion21 {
    width: 80%;
    padding-top: 4rem;
    padding-left: 0rem;
  }

  .seccion21 > p {
    font-size: 15px;
    text-align: center;
    margin-bottom: 3rem;
}


.seccion2-2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seccion2-2 img {
  width: 16rem;
}

.seccion3 {
  width: 100%;
  height: 90rem;
  background-color: #979595;
  display: flex;
flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.seccion4 {
  height: 160rem;
}

.seccion4 > h2 {
  font-size: 25px;
}

.containerBoxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 73rem;
  gap: 2.5rem;
}

.seccion5 {
  width: 100%;
  height: 35rem;
  background-color: #979595;
  display: flex;
  flex-direction: column;
}

.seccion5-1{
  width: 100%;
}

.seccion5-1{
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.seccion5-2{
  width: 100%;
}

.seccion5-2 > iframe{

  width: 80%;
}

input{
  width: 80%;
}

#mensaje{
  width: 80%;
}

.about > p {
  font-size: 15px;
}


  
  .abrir-menu,.cerrar-menu{
    display: block;
    border: 0;
   
    background-color: transparent;
    cursor: pointer;
  
  }
  
  .abrir-menu{
    color: white;
    font-size: 2.25rem;
  }
  
  .cerrar-menu{
    color: white;
    font-size: 1.25rem;
  }
  
  .navlist {
  opacity: 0;
  visibility: hidden;}
  
  .nav > li {
  
    border-right: 0px solid #ccc;
    margin-right: 0px;
    padding-right: 0px;
  }
  
  .navlist{
    width: 70%;
    height: 20rem;
    position: absolute;
    top: 0;
    background-color: #383636;
    padding: 1.5rem;
    border: 2px solid #ffffff;
    border-radius: 0.5rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .8);
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    padding-bottom:2rem;
  }
  
  .nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    

   
  }

  .nav > li > a {
    border: 2px solid white;
    padding: 0.5rem;
    border-radius: 0.5rem;
  }
  
  .navlist.visible{
    opacity: 1;
    visibility: visible;
  }

}
